doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet" href="css/main.min.css")
	title Document
body
	pharagraph Hi

	h1 Это текстовый документ
	h1 Это текстовый 2
	h1 This is a cool project